*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Inter;
background:#0f0f10;
color:white;
transition:0.3s;
}

.light{
background:white;
color:black;
}

#themeToggle{
position:fixed;
top:20px;
right:20px;
border:none;
padding:10px;
border-radius:10px;
cursor:pointer;
}

.hero{
text-align:center;
padding:100px 20px;
}

.profile{
width:140px;
border-radius:50%;
margin-bottom:20px;
}

.hero h1{
font-size:48px;
}

.hero p{
color:gray;
}

.bento{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;

padding:50px;

}

.card{

background:#1a1a1c;
padding:30px;
border-radius:20px;

transition:0.3s;

}

.card:hover{
transform:translateY(-5px);
}

.large{
grid-column:span 2;
}

.cert{
width:100%;
border-radius:10px;
}

.modal{

display:none;

position:fixed;
top:0;
left:0;
width:100%;
height:100%;

background:rgba(0,0,0,0.8);

}

.modal-content{

background:#111;

padding:40px;

width:80%;

margin:10% auto;

border-radius:20px;

}

.close{

cursor:pointer;
float:right;
font-size:30px;

}

.repo{

background:#222;

padding:20px;

margin-top:15px;

border-radius:10px;

}
